@model cloudscribe.Pagination.Models.PagedResult<PackageViewModel>
@using WebApplication.Helpers

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Package";
    ViewData["Action"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<div class="div1">
    
        <h5>Weather in Belgrade</h5>
        
        Temp - <a id="temp"></a><br />
        Humididy - <a id="humidity"></a><br />
        Desc - <a id="desc"></a><br />
    
    <button class="btn btn-info">Get weather</button>

</div>
<br />

<form asp-action="Index" method="get">

    <div class="div2">
        <p>
            Find package: <input type="text" name="searchString" value="@ViewBag.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-info" />
            <a asp-action="Index">Remove filter</a>
        </p>
    </div>
    <div>

    </div>

</form>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Zoo</h2>
    </div>

    @if (User.IsInRole(Roles.Admin))
    {
        <div class="col-6 text-right">
            <a class="btn btn-info" asp-action="Create">Add new package</a>
        </div>

    }
    <br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>Package</th>
                <th>Name</th>
                <th>Free places</th>
                <th>Animals</th>
                <th>
                    Duration
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.AgeSortParam"
                       asp-route-pageNumber="@Model.PageNumber">Price</a>
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @if (String.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@Url.Content("/"+"images\\packages\\no.png")" width="400" height="200" />
                        }
                        else
                        {
                            <img src="@Url.Content("/"+item.ImagePath)" width="400" height="200" />
                        }

                    </td>
                    <td>@item.Name</td>
                    <td>@item.FreePlaces</td>
                    <td>
                        @foreach (var name in item.Animals)
                        {
                            <b>@name.Text</b>
                            <br />
                        }
                    </td>
                    <td>
                        @item.Duration h
                    </td>

                    <td>@item.Price din</td>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <td class="text-right">
                            <div class="btn-group">
                                <a type="button" class="btn btn-primary" href="/Package/Apply/@item.PackageId"><i class="fa-solid fa-user-plus"></i></a>
                                <a type="button" class="btn btn-primary" href="/Package/Edit/@item.PackageId"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </td>
                    }
                    else if (User.IsInRole(Roles.Visitor))
                    {
                        <td class="text-right">
                            <div class="btn-group">
                                <a type="button" class="btn btn-primary" href="/Package/Apply/@item.PackageId"><i class="fa-solid fa-user-plus"></i></a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="text-right">
                            <div class="btn-group">
                                <a type="button" class="btn btn-primary" href="/Auth/Login/@item.PackageId"><i class="fa-solid fa-user-plus"></i></a>
                            </div>
                        </td>
                    }


                </tr>
            }
        </table>

        <partial name="_PaginationPartial" model="Model" view-data="ViewData" />

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function(){
            $("button").click(function () {
                $.get("@Url.Action("GetWeather","Package")", function (response) {
                    console.log(response);
                    //$("#name").text(response.name);
                    $("#temp").text((response.main.temp - 273.15).toFixed(1) +" °C");
                    $("#desc").text((response.weather[0].description));
                    $("#humidity").text(response.main.humidity+" %");
                    //$("temp").text(response.main.temp);
                });
            });
        });
    </script>
}
